.row {
    margin-bottom: 0px;
    height: 100%;
    width: 100%;
}
.card {
    left: 0px;
    top: 20%;
    position: relative;
    width: 34%;
    margin: 0;
    margin-top: 15%;
    background-color: #2f4255a1;
}
.card:hover {
    background-color: #2f4255e6;
}
.card .card-content {
    text-align: center;
    height: 22vh;
    margin-left: auto;
    margin-right: auto;
    padding-top: 4vh;
}
.card-update {
    height: 26vh;
}
.white-text {
    font-size: 20px;
}
.btn {
    margin-top: 5%;
}
#BillibFooter {
	position:absolute;
	bottom: 0;
}
@media only screen and (min-width: 601px){
.row .col.m6 {
    width: 100%;
    height: 100%;
}
}
